* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    margin: 0 auto;
    background-color: rgb(8, 8, 66);
    color: white;
    padding: 10px;
    text-decoration: none;
    display: flex;
}
.nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline;
}
.user-info {
    text-align: right;
    display: inline-block;
    margin-left: 2270px;
    vertical-align: top;
}
main {
    background-color: #f5f6f8;
}
.menu {
    border: 2px solid grey;
    background-color: white;
    border-radius: 10px;
    margin: 30px;
    width: 200px;
    padding: 25px;
}
ul {
    list-style-type: none;
    padding-bottom: 20px;
}
li {
    padding: 10px;
}
.active {
    background: lightblue;
    width: 100%;
}
.content {
    border: 2px solid blue;
    border-radius: 10px;
    width: 700px;
    margin: 30px;
    padding: 30px 25px;
    background-color: white;
}
section {
    margin: 30px;
    padding: 15px;
}
.status {
    border: 2px solid grey;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    padding: 15px;
    background-color: white;
    display: inline-block;
}
.course {
    border: 2px solid grey;
    border-radius: 10px;
    width: 250px;
    margin: 10px;
    background-color: white;
    display: inline-block;
}
.python {
    border: 2px solid grey;
    border-radius: 10px;
    width: 250px;
    margin: 10px;
    padding: 15px;
    background-color: white;
    display: inline-block;
}
.business {
    border: 2px solid grey;
    border-radius: 10px;
    width: 250px;
    margin: 10px;
    padding: 15px;
    background-color: white;
    display: inline-block;
}
.btn {
    background-color: rgb(50, 50, 225);
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
}
.top{
    height: 100px;
    width: 100%;
    background-color: lightblue;
}
